.main_group {
    background-color: #A02279;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
    
}

.tilted_images {
    margin-top: 40px;
}

.main_group .texts .information {
    font-family: 'Red Rose';
    font-weight: 700;
    font-size: 48px;
}

.main_group .texts .information {
    font-family: 'Red Rose';
    font-weight: 400;
    font-size: 18px;
}

.main_group .texts button {
    background: white;
    color: #A02279;
    font-family: 'Red Rose';
    font-weight: 400;
    font-size: 16px;
    border-radius: 8px;
}

@media screen and (max-width: 769px) and (min-width: 480px) {
    .tilted_images img {
        width: 372px;
        margin-right: 286px;
    }

    .texts {
        margin-left: 97px;
    }
}

@media screen and (max-width: 481px) and (min-width: 319px) {
   .tilted_images img {
    width: 488px;
   } 

   .main_group {
     width: 887px;
   }
}

